<p-toast></p-toast>
<div class="container" style="width: 400px; margin-top: 20px;">
    <div style="align-items: center;">
        <form [formGroup]="formModel" autocomplete="off" (submit)="onSubmit()">
            <div class="form-group required">
                <label for="currentPassword">Current Password</label>
                <input autocomplete="off" type="password" id="currentPassword" class="form-control"  formControlName="currentPassword">
            </div>
            <div formGroupName="passwords">
                <div class="form-group required">
                    <label for="newPassword">New Password</label>
                    <input  type="password" id="newPassword" class="form-control" formControlName="newPassword">
                    <label class="text-danger"
                        *ngIf="formModel.get('passwords.newPassword').touched && formModel.get('passwords.newPassword').errors?.minlength">
                        Minimum 6 characters
                    </label>
                    <label class="text-danger"
                        *ngIf="formModel.get('passwords.newPassword').touched && formModel.get('passwords.newPassword').errors?.required">
                        Password is required
                    </label>
                    <label class="text-danger"
                        *ngIf="formModel.get('passwords.newPassword').touched && formModel.get('passwords.newPassword').errors?.lowerCase">
                        Password should contains at least one lower case character
                    </label>
                </div>
                <div class="form-group required">
                    <label for="confirmPassword">Confirm password</label>
                    <input type="password" id="confirmPassword" class="form-control" formControlName="confirmPassword">
                    <label class="text-danger"
                        *ngIf="formModel.get('passwords.confirmPassword').touched && formModel.get('passwords.confirmPassword').errors?.passwordMismatch">
                        Confirm password does not match
                    </label>
                    <label class="text-danger"
                        *ngIf="formModel.get('passwords.confirmPassword').touched && formModel.get('passwords.confirmPassword').errors?.required">
                        Confirm password is required
                    </label>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-8 offset-md-2">
                    <button type="submit" class="btn btn-primary btn-block"
                    [disabled]="!formModel.valid">Change</button>
                </div>
            </div>
        </form>
    </div>
</div>