<div class="container-fluid">
    <div class="card">
        <p-progressBar *ngIf="loadingInProcess" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
        <div class="card-header">
                <label for="calendar" style="display: table-cell;">Time Range</label>
                <input style="width: 20rem;" id="calendar" type="text" ngxDaterangepickerMd [(ngModel)]="timeRange"
                 timePicker24Hour="true"
                  timePicker="true"
                  [locale]="{format: 'DD/MM/YYYY HH:mm:ss'}"
                  [ranges]="ranges"
                  alwaysShowCalendars="true"
                  autocomplete="off"
                  (datesUpdated)="getPendedTickets()"/>
        </div>
        <div class="card-body" *ngIf="!loadingInProcess">
            <p-table *ngIf="pendedTickets.length > 0" [value]="pendedTickets" styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped" rows="20"
             [rowsPerPageOptions]="[10,20,40]"
             paginator="true">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Tn</th>
                        <th>Create Time</th>
                        <th>Client</th>
                        <th>Zone</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>Initiator</th>
                        <th>Direction</th>
                        <th>National/ <br> International</th>
                        <th>Category</th>
                        <th>Priority</th>
                        <th>State</th>
                        <th>Close Time</th>
                        <th>Overdue</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-pendedTicket>
                    <tr style="font-size: 13px;">
                        <td>
                            <a target="_blank" rel="noopener noreferrer" href="http://otrs.gmsu.ua/otrs/index.pl?Action=AgentTicketZoom;TicketID={{pendedTicket.ticketId}}">{{pendedTicket.tn}}</a>
                        </td>
                        <td>
                            {{epochToString(pendedTicket.createTime)}}
                        </td>
                        <td>
                            {{pendedTicket.client}}
                        </td>
                        <td>
                            {{pendedTicket.zone}}
                        </td>
                        <td>
                            {{pendedTicket.type}}
                        </td>
                        <td>
                            {{pendedTicket.description}}
                        </td>
                        <td>
                            {{pendedTicket.initiator}}
                        </td>
                        <td>
                            {{pendedTicket.direction}}
                        </td>
                        <td>
                            {{pendedTicket.natInt}}
                        </td>
                        <td>
                            {{pendedTicket.category}}
                        </td>
                        <td>
                            {{pendedTicket.ticketPriority}}
                        </td>
                        <td>
                            {{pendedTicket.state}}
                        </td>

                        <td>
                            {{epochToString(pendedTicket.closeTime)}}
                        </td>
                        <td>
                            <p-tag severity="{{getSeverity(pendedTicket.overdue)}}">{{pendedTicket.overdue>180?">180":">60"}}
                                minutes</p-tag>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <h1 *ngIf="pendedTickets.length < 1">There is no pended tickets for the period.</h1>
        </div>
    </div>
</div>