
:host ::ng-deep ul.p-picklist-list.p-picklist-source li.p-picklist-item.p-ripple{
    background-color:  rgb(192, 240, 255);
    border-color: rgb(133, 172, 255);
}


:host ::ng-deep ul.p-picklist-list.p-picklist-target li.p-picklist-item.p-ripple{
    background-color:  rgb(189, 255, 233);
    border-color: rgb(87, 250, 196);
}

:host ::ng-deep li.p-picklist-item.p-ripple{
    margin: 5px;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
}

:host ::ng-deep ul.p-picklist-list.p-picklist-source li.p-picklist-item.p-ripple:focus{
    background-color:  rgb(243, 252, 255)!important;
    box-shadow: none;
}

:host ::ng-deep ul.p-picklist-list.p-picklist-target li.p-picklist-item.p-ripple:focus{
    background-color: rgb(237, 253, 248)!important;
    box-shadow: none;
}

:host ::ng-deep .p-scrollpanel {

    &.bluebar {
        .p-scrollpanel-wrapper {
            border-right: 9px solid var(--layer-1);
        }

        .p-scrollpanel-bar {
            background-color: var(--primary-color);
            opacity: 1;
            transition: background-color .2s;

            &:hover {
                background-color: #007ad9;
            }
        }
    }

}    
